*.jf
*.pyc
*.fasta
/database/*
/Results/*
/deprecated/*
*.h5
*.png
/Models/*
*metadata*
*binary_table*
temp.py
/database2/*
test_augmentation.py
test_best_models.py
test_fragment_size.py
test_genome_regions_filtered.py
test_selection.py
