Model|Data Type|Train/Test Split|Accuracy
---|---|---|---
Neural Network|kmer|split|75.47%
Neural Network|kmer|mixed|85.24%
Neural Network|genome|split|45.23%
Neural Network|genome|mixed|77.42%
Support Vector Machine|kmer|split|80.68%
Support Vector Machine|kmer|mixed|83.45%
Support Vector Machine|genome|split|40.91%
Support Vector Machine|genome|mixed|73.55%
Random Forest|kmer|split|52.98%
Random Forest|kmer|mixed|82.36%
Random Forest|genome|split|52.88%
Random Forest|genome|mixed|79.00%
