Accuracy|Dataset|Datatype|Feature Selection|Fragment Size|Kmer Filter|Kmer Length|Mean Accuracy|Model
|---|---|---|---|---|---|---|---
