Model|Data Type|Train/Test Split|k|N|Accuracy
---|---|---|---|---|---
Neural Network Kmer|complete|split|7|fdr|62.73%
Neural Network Kmer|complete|split|7|kbest|75.59%
Neural Network Kmer|complete|split|15|fdr|57.45%
Neural Network Kmer|complete|split|15|kbest|49.36%
Neural Network Kmer|complete|split|31|fdr|59.45%
Neural Network Kmer|complete|split|31|kbest|49.86%
Neural Network Kmer|complete|split|9|fdr|55.45%
Neural Network Kmer|complete|split|9|kbest|50.18%
Neural Network Kmer|complete|split|11|fdr|48.45%
Neural Network Kmer|complete|split|11|kbest|49.50%
Neural Network Kmer|complete|mixed|7|fdr|75.78%
Neural Network Kmer|complete|mixed|7|kbest|83.93%
Neural Network Kmer|complete|mixed|15|fdr|80.73%
Neural Network Kmer|complete|mixed|15|kbest|80.95%
Neural Network Kmer|complete|mixed|31|fdr|82.40%
Neural Network Kmer|complete|mixed|31|kbest|80.65%
Neural Network Kmer|complete|mixed|9|fdr|85.53%
Neural Network Kmer|complete|mixed|9|kbest|82.47%
Neural Network Kmer|complete|mixed|11|fdr|83.05%
Neural Network Kmer|complete|mixed|11|kbest|80.51%
Support Vector Machine Kmer|complete|split|7|fdr|64.77%
Support Vector Machine Kmer|complete|split|7|kbest|78.41%
Support Vector Machine Kmer|complete|split|15|fdr|47.73%
Support Vector Machine Kmer|complete|split|15|kbest|54.55%
Support Vector Machine Kmer|complete|split|31|fdr|50.00%
Support Vector Machine Kmer|complete|split|31|kbest|50.00%
Support Vector Machine Kmer|complete|split|9|fdr|55.68%
Support Vector Machine Kmer|complete|split|9|kbest|48.86%
Support Vector Machine Kmer|complete|split|11|fdr|52.27%
Support Vector Machine Kmer|complete|split|11|kbest|50.00%
Support Vector Machine Kmer|complete|mixed|7|fdr|72.95%
Support Vector Machine Kmer|complete|mixed|7|kbest|85.60%
Support Vector Machine Kmer|complete|mixed|15|fdr|78.33%
Support Vector Machine Kmer|complete|mixed|15|kbest|78.84%
Support Vector Machine Kmer|complete|mixed|31|fdr|78.91%
Support Vector Machine Kmer|complete|mixed|31|kbest|80.58%
Support Vector Machine Kmer|complete|mixed|9|fdr|81.67%
Support Vector Machine Kmer|complete|mixed|9|kbest|82.33%
Support Vector Machine Kmer|complete|mixed|11|fdr|81.89%
Support Vector Machine Kmer|complete|mixed|11|kbest|82.98%
Random Forest Kmer|complete|split|7|fdr|50.59%
Random Forest Kmer|complete|split|7|kbest|53.23%
Random Forest Kmer|complete|split|15|fdr|52.64%
Random Forest Kmer|complete|split|15|kbest|51.14%
Random Forest Kmer|complete|split|31|fdr|48.45%
Random Forest Kmer|complete|split|31|kbest|51.00%
Random Forest Kmer|complete|split|9|fdr|55.23%
Random Forest Kmer|complete|split|9|kbest|52.77%
Random Forest Kmer|complete|split|11|fdr|53.73%
Random Forest Kmer|complete|split|11|kbest|51.14%
Random Forest Kmer|complete|mixed|7|fdr|77.09%
Random Forest Kmer|complete|mixed|7|kbest|82.18%
Random Forest Kmer|complete|mixed|15|fdr|80.95%
Random Forest Kmer|complete|mixed|15|kbest|79.64%
Random Forest Kmer|complete|mixed|31|fdr|81.09%
Random Forest Kmer|complete|mixed|31|kbest|79.56%
Random Forest Kmer|complete|mixed|9|fdr|83.42%
Random Forest Kmer|complete|mixed|9|kbest|81.02%
Random Forest Kmer|complete|mixed|11|fdr|84.29%
Random Forest Kmer|complete|mixed|11|kbest|80.22%
